<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
</head>

<body>
<h2>增加用户</h2>
<a href="/user/list">返回</a>
<form action="/user/add"  th:object="${user}"  method="post">
    username:&nbsp<input type="text"  name="userName"  th:field="*{username}"  placeholder="userName"/>
    <br/>
    <br/>
    password:&nbsp<input type="password"  name="password"  th:field="*{password}"  placeholder="password"/>
    <br/>
    <br/>
    <input type="submit" value="Submit"/>
</form>

</body>