<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
</head>

<body>
<h2>修改用户</h2>
<a href="/user/list">返回</a>
<form action="/user/edit"  th:object="${user}"  method="post">
    <input type="hidden" name="id" th:value="*{id}" />
    <br/>
    username: <input type="text"  name="username"  id="username" th:value="*{username}" placeholder="username"/>
    <br/>
    password:<input type="password"  name="password"  id="password" th:value="*{password}" placeholder="password"/>
    <br/>
    <input type="submit" value="Submit"/>
</form>

</body>